---
import DefaultLayout from '../../layouts/Default.astro'
// 引入 CutCornerButton 组件
import { CutCornerButton } from '../../components/CutCornerButton'
import { Hexagon } from '../../components/Hexagon'

import { getCollection } from 'astro:content'
import { Card } from '../../components/Card'
import { Tag } from '../../components/Tag'
import { getPostColorFromCategory } from '../../utils/postUtils'
import { twMerge } from 'tailwind-merge'
import { motion } from 'framer-motion'
const posts: any = (await getCollection('blog')).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())

const latestPost = posts[0]
---

<!-- 
  博客列表页
-->
<DefaultLayout>
  <section class="py-20 relative top-40 overflow-x-clip">
    <div class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2">
      <Hexagon size={800} client:load />
    </div>
    <div class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2">
      <Hexagon size={1100} client:load reverse duration={60} />
    </div>
    <div class="max-w-3xl mx-auto">
      <p class="text-zinc-500 uppercase font-heading font-bold tracking-wider text-center">Latest Post</p>
      <h1 class="text-5xl md:text-6xl lg:text-7xl mt-4 font-bold text-center">{latestPost.data.title}</h1>
      <p class="text-zinc-400 text-xl md:text-2xl text-center mt-6 max-w-xl mx-auto">{latestPost.data.description}</p>

      <div class="flex justify-center mt-12">
        <a href={`/blog/${latestPost.slug}`}>
          <CutCornerButton className="inline-flex" children="Get Started" />
        </a>
      </div>
    </div>
  </section>

  <section>
    <!-- 
      backdrop-blur-sm: 背景模糊
    -->
    <div class="container mt-[280px] py-32 bg-zinc-900/30 backdrop-blur-sm">
      <div class="container">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
          <div class="flex flex-col gap-8 lg:gap-12">
            {
              posts.map(({ data: { title, description, category }, slug }, postIndex) => (
                <motion.a
                  client:load
                  initial={{
                    opacity: 0,
                    y: 20,
                  }}
                  whileInView={{
                    opacity: 1,
                    y: 0,
                  }}
                  viewport={{
                    once: true,
                    amount: 0.5,
                  }}
                  transition={{
                    duration: 0.5,
                    ease: 'easeOut',
                  }}
                  href={`/blog/${slug}`}
                  className={twMerge(postIndex % 2 === 1 ? 'hidden' : '')}
                >
                  <Card buttonText="Read Me" color={getPostColorFromCategory(category)} className="group">
                    <Tag color={getPostColorFromCategory(category)}>{category}</Tag>
                    <h2 class="font-heading font-black text-3xl mt-4">{title}</h2>
                    <p class="text-lg mt-6 text-zinc-400">{description}</p>
                  </Card>
                </motion.a>
              ))
            }
          </div>
          <div class="flex flex-col gap-8 lg:gap-12 mt-24">
            {
              posts.map(({ data: { title, description, category }, slug }, postIndex) => (
                <motion.a
                  client:load
                  initial={{
                    opacity: 0,
                    y: 20,
                  }}
                  whileInView={{
                    opacity: 1,
                    y: 0,
                  }}
                  viewport={{
                    once: true,
                    amount: 0.5,
                  }}
                  transition={{
                    duration: 0.5,
                    ease: 'easeIn',
                  }}
                  href={`/blog/${slug}`}
                  className={twMerge(postIndex % 2 === 0 ? 'hidden' : '')}
                >
                  <Card buttonText="Read Me" color={getPostColorFromCategory(category)} className="group">
                    <Tag color={getPostColorFromCategory(category)}>{category}</Tag>
                    <h2 class="font-heading font-black text-3xl mt-4">{title}</h2>
                    <p class="text-lg mt-6 text-zinc-400">{description}</p>
                  </Card>
                </motion.a>
              ))
            }
          </div>
        </div>
      </div>
    </div>
  </section>
</DefaultLayout>
